header {
  width: 100%;
  .bg-header-top {
    background-color: #0282F9;
    width: 100%;
    .header-top {
      padding: 10px 0;
      display: flex;
      width: 80%;
      margin: 0 auto;
      justify-content: flex-end;
      .dc-power {
        margin-right: 90px;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
      }
      .additional-dc {
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        i {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
  }
  .header-bottom {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    img {
      height: 100%;
      cursor: pointer;
    }
    ul {
      text-decoration: none;
      li {
        text-decoration: none;
        display: inline-block;
        margin-right: 20px;
        text-transform: uppercase;
        i {
          color: #0282F9;
          margin-left: 5px;
          cursor: pointer;
        }
        .search {
          color: #1C1C1C;
        }
        a {
          text-decoration: none;
          color: #1C1C1C;
          font-weight: 800;
        }
        .li-blue {
          color: #0282F9;
          border-bottom: 6px solid #0282F9;
          padding-bottom: 46px;
        }
        input {
          text-align: right;
          border: none;
          border-bottom: 2px solid #0282F9;
        }
      }
    }
  }
}